.card-game {
    text-align: center;
  }
  
  .card-dealer {
    margin: 0 auto;
    width: 50%;
  }
  
  .card-title {
    font-size: 20px;
    padding-bottom: 10px;
  }
  
  .card-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
  }
  
  .player-card {
    text-align: center;
  }
  
  .card-title,
  .card-content {
    font-family: sans-serif;
  }
  
  .mdi {
    font-size: 28px;
  }
  
  /* Suit icons */
  .mdi-heart {
    color: red;
  }
  
  .mdi-cards-diamonds {
    color: red;
  }
  
  .mdi-cards-club {
    color: black;
  }
  
  .mdi-cards-spade {
    color: black;
  }